<section class="categories">
    <h2>Find more categories</h2>
    <div class="container">
        <a href="/category/action">
            <div class="category action">
                <img src="/assets/images/action_icon.svg" height="64" alt="action category icon">
                <p>Action</p>
            </div>
        </a>
        <a href="/category/love">
            <div class="category love">
                <img src="/assets/images/love_icon.svg" height="64" alt="love category icon">
                <p>Love</p>
            </div>
        </a>
        <a href="/category/fiction">
            <div class="category fiction">
                <img src="/assets/images/fiction_icon.svg" height="64" alt="fiction category icon">
                <p>Fiction</p>
            </div>
            </a>
        <a href="/category/kids">
            <div class="category kids">
                <img src="/assets/images/child_icon.svg" height="64" alt="kids category icon">
                <p>Kids</p>
            </div>
        </a>
    </div>
</section>