<section class="categories">
    <div class="category">
        <img src="" alt="action category icon">
        <p>Action</p>
    </div>
    <div class="category">
        <img src="" alt="love category icon">
        <p>Love</p>
    </div>
    <div class="category">
        <img src="" alt="fiction category icon">
        <p>Fiction</p>
    </div>
    <div class="category">
        <img src="" alt="kids category icon">
        <p>Kids</p>
    </div>
</section>