<section class="categories">
    <div class="category">
        <img src="" alt="">
        <p>Action</p>
    </div>
    <div class="category">
        <img src="" alt="">
        <p>Love</p>
    </div>
    <div class="category">
        <img src="" alt="">
        <p>Action</p>
    </div>
    <div class="category">
        <img src="" alt="">
        <p>Kids</p>
    </div>
</section>