<section class="categories">
    <h2>Find more categories</h2>
    <div class="container">
        <div class="category action">
            <img src="/assets/images/action_icon.svg" height="64" alt="action category icon">
            <p>Action</p>
        </div>
        <div class="category love">
            <img src="/assets/images/love_icon.svg" height="64" alt="love category icon">
            <p>Love</p>
        </div>
        <div class="category fiction">
            <img src="/assets/images/fiction_icon.svg" height="64" alt="fiction category icon">
            <p>Fiction</p>
        </div>
        <div class="category kids">
            <img src="/assets/images/child_icon.svg" height="64" alt="kids category icon">
            <p>Kids</p>
        </div>
    </div>
</section>