<footer>
    <div class="footer_contaier">
        <a href="/">
            <img src="/assets/images/logo.svg" alt="app logo" height="40">
        </a>
        <div class="contact">
            <h2>Contact Us</h2>
            <a href=""><img src="/assets/images/github.svg" height="32" alt=""></a>
            <a href=""><img src="/assets/images/linkedin.svg" height="32" alt=""></a>
        </div>
    </div>
    <div class="copy">
        <p><%= new Date().getFullYear() %> Books Tracker app all rights reserved ©</p>
    </div>
</footer>

<!-- script -->
 <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>