<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- reset css browser -->
    <link rel="stylesheet" href="/styles/reset.css">
    <!-- css styles -->
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Book tracker app</title>
</head>
<body>
    <% if(locals.reqURL){ %>
        <!-- hero section -->
        <%- include('hero_section/hero.ejs')  %>
        <!-- end hero section -->
    <% }else{ %>
        <%- include('nav.ejs')  %>
    <% } %>
    
