<nav>
    <a href="/">
        <img src="/assets/images/logo.svg" alt="app logo" height="40">
    </a>
    <div class="menu">
        <img src="/assets/images/bookIcon.svg" alt="book icon" height="24">
        <a href="/mybooks">
            <p>my books</p>
        </a>
    </div>
</nav>