<%- include('partials/header.ejs') %>
    <h1>Welcome to the book manage app</h1>
    <h3>please search a book</h3>
    <form action="/search" method="POST">
        <input type="search" name="query" id="query" placeholder="harry potter and the philosopher's stone">
        <input type="submit" value="Search book">
    </form>
<%- include('partials/footer.ejs')  %>