<section class="hero">
    <!-- nav bar -->
    <%- include('../nav.ejs')  %>
    <!-- end nav bar -->
    <!-- hero content -->
        <div class="content">
            <div class="message">
                <h1>Search Book</h1>
                <p>A blank journal opens with dreams of daily musings, but quickly gathers dust in the rush of life.</p>
            </div>
            <!-- search form -->
            <form action="/search" method="GET">
                <input type="search" name="query" id="query" placeholder="Search Book" required>
                <button>
                    <img src="/assets/images/search_icon.svg" alt="search icon" height="24">
                </button>
            </form>
            <!-- end search form -->
        </div>
    <!-- end hero content -->
</section>
