<section class="hero">
    <!-- nav bar -->
        <nav>
            <img src="" alt="app logo">
        </nav>
        <div>
            <p>my books</p>
        </div>
    <!-- end nav bar -->

    <!-- hero content -->
        <div>
            <h1>Search Book</h1>
            <p>A blank journal opens with dreams of daily musings, but quickly gathers dust in the rush of life.</p>
        </div>
        <form action="/search" method="POST">
            <input type="search" name="query" id="query" placeholder="Search Book">
            <input type="submit" value="Search book">
        </form>
    <!-- end hero content -->
</section>
