<% if(books.length > 0){ %>
    <section class="last_books">
        <div class="title">
            <h2>Your last added books</h2>
        </div>
        <div class="container_user_books">
            <% for(var i = 0; i < 7; i++){ %>
                    <div class="book <%= i === 0 ? 'first' : '' %>">
                        <a href="/book/<%= books[i].work_id.split('/')[2] %>">
                            <img class="book_cover" src="<%= books[i].url %>" alt="book cover">
                        </a>
                    </div>
            <% } %>
        </div>
    </section>
<% } %>